@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}



.container{
    max-width: 1200px;
    margin: auto;
}

._lock{
    overflow: hidden;
}

.header-container{
    display: flex;    
}

.menu{
    z-index: 50;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header-logo{
    width: 232px;
    margin: 10px 10px;
}

.menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 10px 10px;
}
.menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
}
.menu__icon::before,
.menu__icon::after {
    content: "";
}
.menu__icon::before {
    top: 0;
}
.menu__icon::after {
    bottom: 0;
}
.menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}
.menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}

.menu__list > div {
	position: relative;
}

.menu__list > div {
	padding: 10px 10px;
}

.menu__block{
    display: flex;
    flex-direction: column;
}

.menu__block > a{
    margin: 5px 0;
    color: #21243d;
    font-size: 18px;
}

.menu__block > a:hover{
    color: #ff7c7c;
    transition: 0.5s;
}

.font-regular{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.font-bold{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.menu__body {
    position: fixed;
    margin-top: 120px;
    top: 0;
    left: -100%;
    width: 100%;
    height: 640px;
    background-color:  #FFF;
    padding: 5px 30px 5px 30px;
    transition: left 0.3s ease 0s;
    z-index: 5;
}
.menu__body._active {
    left: 0;
}

@media (max-height: 700px) {
    .menu__body{
        padding-bottom: 340px;
        overflow: auto;
    }
}

@media (min-width: 992px){
    .menu__list{
        display: flex;
        justify-content: space-around;
    }
    .menu__body{
        height: 260px;
        left: auto;
        top: -100%;
        width: 100%;
        transition: top 0.3s ease 0s;
        padding-bottom: 0;
    }
    .menu__body._active {
        top: 0;
        left: auto;
        border-radius: 10px;
    }
    .menu__block > a{
        font-size: 21px;
    }
    .vl {
        border-left: 1px solid #7685a873;
        margin-top: 20px;
        height: 200px;
    }
}


/* footer */

.footer{
    background-color: #b6cbec;
    padding: 30px 15px 20px;
}

.footer-logo-info{
    text-align: center;
}

.footer-logo-info > a > img{
    width: 164px;
}

.footer-logo-info > h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding: 20px 5px;
}

.footer-follow{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-follow-facebook{
    width: 40px;
}

.footer-follow-esadok{
    width: 165px;
}


.footer-menu{
    padding: 20px 0 20px;
    text-align: center;
}

.footer-menu > h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    color: #ffffff;
    padding: 20px 5px 10px;
}

.footer-line{
    height: 3px;
    width: 20%;
    background-color: #FF7C7C;
    margin: auto;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer-nav > a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 0;
}

.footer-contact{
    text-align: center;
}

.footer-contact > h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    color: #ffffff;
    padding: 20px 5px 10px;
}

.contact-card{
    justify-content: center;
    padding: 10px 10px;
}

.contact-card > a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
    color: #ffffff;
}

.contact-card > img{
    width: 20px;
    margin-right: 10px;
}

.created-by{
    background-color: rgba(0, 0, 0, 0.47);
}

.created-by-text > p{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px 5px 5px;
}

@media (min-width: 768px){
    .footer-block{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-menu{
        padding: 50px 0 0;
    }
    .footer-contact{
        padding: 50px 0 0;
    }
    .created-by-text{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .footer-logo-info > h4{
        text-align: justify;
    }
    .contact-card{
        text-align: left;
    }
    .footer-contact-block{
        padding: 5px 0;
        position: relative;
        left: 15%;
        width: 80%;
    }
}

@media (min-width: 992px){
    .footer-contact > h3, .footer-menu > h3{
        font-size: 26px;
        line-height: 34px;
    }
}




