* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    line-height: 44px;
    font-weight: 800;
    color: #21243d;
}
@media (min-width: 768px){
    h2{
        font-size: 39px;
        line-height: 47px;
    }
}

@media (min-width: 992px){
    h2{
        font-size: 44px;
        line-height: 53px;
    }
}


.registration{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/index/registration/fon-registration.jpg);
    background-size: cover;
    background-position: center;
}

.registration-block{
    padding: 170px 15px 170px;
}

.registration-text > h1{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    line-height: 44px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 20px;
}

.registration-text > p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #e6e6e6;
    margin-bottom: 50px;
}

.registration-button{
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
    line-height: 20px;
    font-weight: 700;
    color: #e6e6e6;
    background-color: #ff7c7c;
    padding: 15px 27px;
    border-radius: 25px ;
    border: 2px solid #ff7c7c;
}

.registration-button:hover{
    background-color: transparent;
    transition: 0.5s;
}

@media (min-width: 768px){
    .registration-block{
        max-width: 410px;
        padding: 275px 30px 140px;
    }
    .registration-text > h1{
        font-size: 39px;
        line-height: 47px;
    }
}

@media (min-width: 992px){
    .registration-block{
        max-width: 600px;
        padding: 400px 30px 180px;
    }
    .registration-text > h1{
        font-size: 44px;
        line-height: 53px;
    }
}

.about-fon{
    background-image: url(../img/index/about/about-progres-fon.svg);
    background-size: cover;
    background-position: center;
}

.about{
    padding: 60px 20px 30px;
    display: flex;
    flex-direction: column;
}

.about-photo{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.about-text > h2{
    margin: 10px auto 20px;
}

.about-text > h2 > span{
    color: #ff7c7c;
}

.about-text > h4{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    color: #7685a8;
    margin-bottom: 30px;
}

.about-text > p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7685a8;
    margin-bottom: 10px;
}

.about-text-check{
    display: flex;
    padding: 5px 0;
}

.about-text-check > img{
    width: 22px;
    margin-right: 8px;
}

.about-text-check > p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7685a8;
}

@media (min-width: 768px){
    .about{
        flex-direction: row;
    }
    .about-photo{
        width: 40%;
        height: fit-content;
        margin: 0 15px;
    }
}

@media (min-width: 992px){
    .about-photo{
        width: 50%;
        margin: 10px 30px 10px 10px;
    }
    .about-text-check{
        padding: 10px 0;
    }
}

.about-progres{
    display: grid;
    padding: 0px 20px 30px;
}


.about-progres-card > img, h3, hr{
    margin: 5px 0;
}

.about-progres-card > hr{
    border: none;  
    height: 3px; 
    width: 20%;
}


.about-progres-card > img{
    width: 70px;
}

.about-progres-card > h3{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    line-height: 29px;
    font-weight: 800;
    color: #21243d;
}

.about-progres-card > p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7685a8;
    margin: 5px 0 35px;
}

.progres-line-green{
    background-color: #49af8b;
}

.progres-line-blue{
    background-color: #3080e3;
}

.progres-line-red{
    background-color: #FF7C7C;
}

.progres-line-yellow{
    background-color: #FFD082;
}

@media (min-width: 768px){
    .about-progres{
        grid-template-columns: 1fr 1fr;
    }
    .about-progres-card > img{
        width: 100px;
    }
    .about-progres-card > h3{
        font-size: 24px;
        line-height: 31px;
    }
    .about-progres-card{
        padding: 0 18px;
    }
}

@media (min-width: 992px){
    .about-progres{
        grid-template-columns: repeat(4, 1fr);
    }
    .about-progres-card > h3{
        font-size: 26px;
        line-height: 34px;
    }
}


.about-number{
    background-color: #B6CBEC;
    padding: 70px 24px 30px;
    text-align: center;
}

.about-number-card{
    padding-bottom: 40px;

}

.about-number-card > h4{
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    line-height: 52px;
    font-weight: 800;
    color: #ffffff;
    padding-bottom: 10px;
}

.about-number-card > p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 10px;
}

.about-number-card > hr{
    border: none;  
    height: 3px; 
    width: 20%;
    background-color: #FFD082;
    margin: 3px auto;
}


@media (min-width: 768px){
    .about-number > div{
        display: flex;
        justify-content: space-around;
     }
     .about-number-card > h4{
        font-size: 69px;
        line-height: 76px;
     }
     .about-number-card > p{
        font-size: 19px;
        line-height: 27px;
     }
}

@media (min-width: 992px){
    .about-number-card > h4{
        font-size: 80px;
        line-height: 88px;
     }
     .about-number-card > p{
        font-size: 20px;
        line-height: 28px;
     }
}


.our-groups{
    padding: 50px 20px 0;
    text-align: center;
}

.our-groups > h2 {
    padding-bottom: 20px;
}

.our-groups > h2 > span{
    color: #FFD082;
}

.our-groups-block{
    display: grid;
}

.our-groups-card{
    padding: 15px 15px 70px;
}

.our-groups-card > img{
    width: 70%;
}

.our-groups-card > h3{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    line-height: 29px;
    font-weight: 800;
    color: #ffffff;
    padding: 15px;
    background-color: #49af8b;
    border-radius: 10px;
    margin-bottom: 30px;
}

.our-groups-button{
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
    line-height: 20px;
    font-weight: 700;
    color: #ff7c7c;
    background-color: transparent;
    padding: 15px 27px;
    border-radius: 25px ;
    border: 1px solid #ff7c7c;
}

.our-groups-button:hover{
    color:#ffffff;
    background-color: #B6CBEC;
    border: none;
    transition: 0.5s;
}

#sun-groups{
    background-color: #ff7c7c;
}


@media (min-width: 768px){
    .our-groups-block{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px){
    .our-groups-card{
        padding: 15px 30px 50px;
    }
    .our-groups-card > h3{
        margin: 0 40px 30px;
    }
}

.todo-list{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/index/todo-list/children-fon.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 24px;
}

.todo-list-block{
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 10px;
}

.todo-list-block > h2{
    margin: 0 auto 20px 10px;
}

.todo-list-block > h2 > span{
    color: #49af8b;
}

.todo-list-check{
    display: flex;
    padding: 10px;
}

.todo-list-check > img{
    width: 22px;
    margin-right: 10px;
}

.todo-list-check > p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 400;
    color: #7685a8;
}

@media (min-width: 768px){
    .todo-list-block{
        width: 40%;
    }
}


/* Тематичні заняття */








/* ----------------- */




/* Таймлайн          */


.process{
    background-image: url(../img/index/process/progres-fon.svg);
    background-size: cover;
    background-position: center;
    padding: 50px 24px;
}

.process-block > h2{
    text-align: center;
    padding-bottom: 30px;
}

.process-block > h2 > span{
    color: #49af8b;
    
}


#timeline *, 
#timeline *:before, 
#timeline *:after {
    box-sizing: border-box;
}    
#timeline .timeline-item:after, 
#timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
#timeline {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    transition: all 0.4s ease;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 90%;
    background: #21243d;
    left: 50%;
    top: 0;
    position: absolute;
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}
#timeline .timeline-icon {
    background: #FFD082;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -2px;
    left: 50%;
    overflow: hidden;
    margin-left: -33px;
    border-radius: 50%;
    
}
#timeline .timeline-item .timeline-icon p {
    line-height: 50px;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    background: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h4 {
    padding: 15px;
    color: #49af8b;
    margin: -20px -20px 10px -20px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;
}

#timeline .timeline-item .timeline-content p {
    color: #21243d;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 400;
    color: #7685a8;
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
}


#timeline .timeline-item:nth-child(odd) .timeline-content {
    float: right;
}

@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
    }
    #timeline:before {
        left: 0;
    }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right;
    }
    #timeline .timeline-item .timeline-content:before, 
    #timeline .timeline-item:nth-child(even) .timeline-content:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #337AB7;
    }
    #timeline .timeline-item .timeline-icon {
        left: 0;
    }
}




/* ----------------- */